// COMPONENTS
//==========================================================
/*-----------------------
    #PRIMARY NAVIGATION
 ------------------------*/
//
@use "helpers" as *;

.#{$prefix}primary-nav {
  --_nav-gap: #{$navigation-gap};
  --_nav-color: #{$navigation-color};
  --_nav-color-hover: #{$navigation-color-hover};
  --_nav-font-size: #{$navigation-font-size};
  --_nav-font-weight: #{$navigation-font-weight};
  --_nav-text-transform: #{$navigation-text-transform};
  --_nav-link-text-decoration: #{$navigation-link-text-decoration};
  --_nav-toggler-bg: #{$clr-neutral-200};

  display: flex;
  justify-content: flex-end;
  gap: var(--_nav-gap);
  color: var(--_nav-color);

  body.is-scrolled & {
    --_nav-color: #{$clr-neutral-1000};
    --_nav-toggler-bg: #{$clr-neutral-1000};
  }

  @include mq(lg) {
    --_nav-gap: #{$rem-10};
  }
}

.#{$prefix}nav-list {
  display: flex;
  justify-content: center;
  gap: $rem-6;
  font-size: var(--_nav-font-size);
  font-weight: var(--_nav-font-weight);

  @include mq($to: lg) {
    --_nav-color: #{$clr-neutral-1000};

    position: absolute;
    inset-block-start: 100%;
    inset-inline-start: 0;
    flex-direction: column;
    width: 100%;
    padding: 1em 2em;
    background-color: $clr-neutral-000;

    clip-path: inset(0% 0% 100% 0%);
    transition: clip-path $transition-500;

    :has(.nav-toggler.is-active) & {
      clip-path: inset(0% 0% 0% 0%);
    }
  }

  @include mq(lg) {
    align-items: center;
  }

  a {
    color: var(--_nav-color);
    text-decoration: var(--_nav-link-text-decoration);
    @if (var(--_nav-text-transform)) {
      text-transform: var(--_nav-text-transform);
    }

    &:is(:hover, :focus-visible) {
      color: var(--_nav-color-hover);
    }
  }
}

.nav-action-btn {
  @include mq($to: sm) {
    display: none;
  }
}

.nav-toggler {
  @include mq(lg) {
    display: none;
  }

  span {
    display: block;
    width: 10px;
    height: 3px;
    border-radius: $em-2;
    background-color: var(--_nav-toggler-bg);
    transition: $transition-250;

    &:nth-of-type(2) {
      width: 20px;
      margin-block: 4px;
    }
    &:nth-of-type(3) {
      margin-inline-start: auto;
    }
  }

  &.is-active span {
    &:nth-of-type(1) {
      transform: translate(1.5px, 3.5px) rotate(45deg);
    }

    &:nth-of-type(2) {
      transform: rotate(-45deg);
    }

    &:nth-of-type(3) {
      transform: translate(-1.5px, -3.5px) rotate(45deg);
    }
  }
}
