// BASE
//===========================================================
/*---------------
  #BASE STYLES
----------------*/

@use "helpers" as *;

@layer base {
  /* Set core body defaults */
  body {
    //** As a best practice, apply a default `background-color`.
    background: $body-background-color;
    color: $body-text-color;
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: 1.6;

    height: 2000px;

    :has(.nav-search-btn.is-active) & {
      overflow-y: hidden;
    }
  }

  @if length($show-breakpoints) > 0 {
    @include show-breakpoints;
  }

  /* Links general styling */
  a {
    color: $link-color;
    transition: $transition-250;

    &:is(:hover, :focus-visible) {
      color: $link-color-hover;
    }
  }

  /* Pragraphs */
  p {
    color: $clr-neutral-500;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: $clr-neutral-200;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $clr-primary-400;
  }

  /* Selection */
  ::selection {
    color: $clr-primary-400;
    background: $clr-neutral-900;
  }

  /* Placeholder */
  ::placeholder {
    color: $clr-neutral-400;
    font-family: inherit;
  }
}
