// HELPERS
//===========================================================
//## VARIABLES
//-----------------------------------------------------------

//<TIP>: Variables naming should follow the lowercase hyphen-delimited convention
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $btn-disabled-color

//# Prefix For Classes Names
//==================================
//<TIP>: Format: prefix-
$prefix: "" !default;

//# Media Queries
//========================
/// Breakpoint list
///
/// Name your breakpoints in a way that creates a ubiquitous language
/// across team members. It will improve communication between
/// stakeholders, designers, developers, and testers.
///
/// @type Map
$breakpoints: (
  sm: 576px,
  // 36em
  md: 768px,
  // 48em
  lg: 992px,
  // 62em
  xl: 1200px,
  // 75em
  xxl: 1400px,
  // 87.5em
) !default;

/// Customize the media type (for example: `@media screen` or `@media print`)
/// By default the manager uses an "all" media type (`@media all and …`)
///
/// If you want to override the media type, you can use this option.
/// @example scss
///   @use 'path/to/mq' with ($media-type: 'screen');
///
/// @type String
$media-type: all !default;

/// Show breakpoints in the top right corner
///
/// If you want to display the currently active breakpoint in the top
/// right corner of your site during development, add the breakpoints
/// to this list, ordered by width. For example: (sm, md, lg).
///
/// @example scss
///   @use 'path/to/mq' with ($show-breakpoints: (sm, md, lg));
///
///
/// @type map
$show-breakpoints: () !default;

//# Colors
//=======================

// Global color variables
//#--------- NEUTRAL -----------
$-clr-white: hsl(0 0% 100%);
$-clr-gray-100: hsl(38 44% 96%);
$-clr-gray-150: hsl(0 0% 93%);
$-clr-gray-200: hsl(0 0% 87%);
$-clr-gray-300: hsl(0 0% 70%);
$-clr-gray-400: hsl(0 0% 60%);
$-clr-gray-500: hsl(0 0% 50%);
$-clr-gray-600: hsl(0 0% 40%);
$-clr-gray-700: hsl(0 0% 30%);
$-clr-gray-800: hsl(0 0% 17.5%);
$-clr-gray-900: hsl(0 0% 7.5%);
$-clr-black: hsl(0 0% 0%);
$-clr-gray-a95: hsla(0 0% 0% / 0.95);
$-clr-gray-a30: hsla(245 17% 29% / 0.3);
//#--------- ORANGE ----------------
$-clr-orange-100: hsl(23 61% 86%);
$-clr-orange-200: hsl(23 49% 82%);
$-clr-orange-300: hsl(32 100% 59%);
$-clr-orange-400: hsl(28 100% 58%);
$-clr-orange-500: hsl(31 84% 50%);
$-clr-orange-600: hsl(3 90% 55%);
$-clr-orange-a20: hsla(23 61% 86% / 0.2);

// Color maps for creating utility classes
$light: (
  "neutral": (
    "000": $-clr-white,
    "100": $-clr-gray-100,
    "200": $-clr-gray-200,
    "300": $-clr-gray-300,
    "400": $-clr-gray-400,
    "500": $-clr-gray-500,
    "600": $-clr-gray-600,
    "700": $-clr-gray-700,
    "800": $-clr-gray-800,
    "900": $-clr-gray-900,
    "1000": $-clr-black,
    "a95": $-clr-gray-a95,
    "a30": $-clr-gray-a30,
  ),
  "primary": (
    "100": $-clr-orange-100,
    "200": $-clr-orange-200,
    "300": $-clr-orange-300,
    "400": $-clr-orange-400,
    "500": $-clr-orange-500,
    "600": $-clr-orange-600,
    "a20": $-clr-orange-a20,
  ),
);

$dark: (
  "neutral": (
    "1000": $-clr-white,
    "900": $-clr-gray-100,
    "800": $-clr-gray-200,
    "700": $-clr-gray-300,
    "600": $-clr-gray-400,
    "500": $-clr-gray-500,
    "400": $-clr-gray-600,
    "300": $-clr-gray-700,
    "200": $-clr-gray-800,
    "100": $-clr-gray-900,
    "000": $-clr-black,
    "a95": $-clr-gray-a95,
    "a30": $-clr-gray-a30,
  ),
  "primary": (
    "600": $-clr-orange-600,
    "500": $-clr-orange-500,
    "400": $-clr-orange-400,
    "300": $-clr-orange-300,
    "200": $-clr-orange-200,
    "100": $-clr-orange-100,
    "a20": $-clr-orange-a20,
  ),
);

// Color variables for general use in the codebase
$clr-neutral-000: var(--clr-neutral-000);
$clr-neutral-100: var(--clr-neutral-100);
$clr-neutral-200: var(--clr-neutral-200);
$clr-neutral-300: var(--clr-neutral-300);
$clr-neutral-400: var(--clr-neutral-400);
$clr-neutral-500: var(--clr-neutral-500);
$clr-neutral-600: var(--clr-neutral-600);
$clr-neutral-700: var(--clr-neutral-700);
$clr-neutral-800: var(--clr-neutral-800);
$clr-neutral-900: var(--clr-neutral-900);
$clr-neutral-1000: var(--clr-neutral-1000);
$clr-neutral-a95: var(--clr-neutral-a95);
$clr-neutral-a30: var(--clr-neutral-a30);

$clr-primary-100: var(--clr-primary-100);
$clr-primary-200: var(--clr-primary-200);
$clr-primary-300: var(--clr-primary-300);
$clr-primary-400: var(--clr-primary-400);
$clr-primary-500: var(--clr-primary-500);
$clr-primary-600: var(--clr-primary-600);
$clr-primary-a20: var(--clr-primary-a20);

// Base used colors
$clr-text-default: $clr-neutral-900;
$clr-bg-default: $clr-neutral-000;
$clr-text-interactive-default: inherit;
$clr-text-interactive-hover: $clr-primary-400;

//# Typography
//==================
// Font families map for creating utility classes
$font-families: (
  "base": "Poppins, sans-serif",
  "accent": "Shadows Into Light, cursive",
);

// Font family variables for general use in the codebase
$ff-base: var(--ff-base);
$ff-accent: var(--ff-accent);

// Font weights map for creating utility classes
$font-weights: (
  "light": 300,
  "normal": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
  "black": 900,
);

// Font weight variables for general use in the codebase
$fw-light: var(--fw-light);
$fw-normal: var(--fw-normal);
$fw-medium: var(--fw-medium);
$fw-semibold: var(--fw-semibold);
$fw-bold: var(--fw-bold);
$fw-extrabold: var(--fw-extrabold);
$fw-black: var(--fw-black);

// Font sizes map for creating utility classes
// 1cqi = 1% of a container's inline size.
$type-scale: (
  100: clamp(0.576rem, 0.5796rem + -0.0047cqi, 0.5787rem),
  200: clamp(0.6944rem, 0.6856rem + 0.0444cqi, 0.72rem),
  300: clamp(0.8333rem, 0.8101rem + 0.1159cqi, 0.9rem),
  400: clamp(1rem, 0.9565rem + 0.2174cqi, 1.125rem),
  500: clamp(1.2rem, 1.1283rem + 0.3587cqi, 1.4063rem),
  600: clamp(1.44rem, 1.3295rem + 0.5527cqi, 1.7578rem),
  700: clamp(1.728rem, 1.5648rem + 0.8161cqi, 2.1973rem),
  800: clamp(2.0736rem, 1.8395rem + 1.1704cqi, 2.7466rem),
  900: clamp(2.4883rem, 2.1597rem + 1.6433cqi, 3.4332rem),
);

// Font sizes variables for general use in the codebase
$fs-100: var(--fs-100);
$fs-200: var(--fs-200);
$fs-300: var(--fs-300);
$fs-400: var(--fs-400);
$fs-500: var(--fs-500);
$fs-600: var(--fs-600);
$fs-700: var(--fs-700);
$fs-800: var(--fs-800);
$fs-900: var(--fs-900);

$letter-spacing-loose: 0;

//# Spacing and sizing
//======================
// Sizes map for creating utility classes
$sizes-rem: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  7: 1.75rem,
  8: 2rem,
  9: 2.5rem,
  10: 3rem,
  11: 4rem,
  12: 5rem,
  13: 6rem,
  14: 8rem,
  15: 10rem,
);

$sizes-em: (
  0: 0,
  1: 0.25em,
  2: 0.5em,
  3: 0.75em,
  4: 1em,
  5: 1.25em,
  6: 1.5em,
  7: 1.75em,
  8: 2em,
  9: 2.5em,
  10: 3em,
  11: 4em,
  12: 5em,
  13: 6em,
  14: 8em,
  15: 10em,
);

// Sizes variables general use in the code base
$rem-0: var(--size-rem-0);
$rem-1: var(--size-rem-1);
$rem-2: var(--size-rem-2);
$rem-3: var(--size-rem-3);
$rem-4: var(--size-rem-4);
$rem-5: var(--size-rem-5);
$rem-6: var(--size-rem-6);
$rem-7: var(--size-rem-7);
$rem-8: var(--size-rem-8);
$rem-9: var(--size-rem-9);
$rem-10: var(--size-rem-10);
$rem-11: var(--size-rem-11);
$rem-12: var(--size-rem-12);
$rem-13: var(--size-rem-13);
$rem-14: var(--size-rem-14);
$rem-15: var(--size-rem-15);

$em-0: var(--size-em-0);
$em-1: var(--size-em-1);
$em-2: var(--size-em-2);
$em-3: var(--size-em-3);
$em-4: var(--size-em-4);
$em-5: var(--size-em-5);
$em-6: var(--size-em-6);
$em-7: var(--size-em-7);
$em-8: var(--size-em-8);
$em-9: var(--size-em-9);
$em-10: var(--size-em-10);
$em-11: var(--size-em-11);
$em-12: var(--size-em-12);
$em-13: var(--size-em-13);
$em-14: var(--size-em-14);
$em-15: var(--size-em-15);

//# Theme
//------------------------
$scheme-color: light;
$active-theme: $light;
$enable-mq-dark-mode: true;

//# Box Shadows
//------------------------
$shadows: (
  "100": 0 1px 4px hsla(0, 0%, 0%, 0.2),
  "200": 0 1px 2px hsla(0, 0%, 0%, 0.2),
);

$shadow-100: var(--shadow-100);
$shadow-200: var(--shadow-200);

//# Transitions
//-----------------
$transitions: (
  "250": 250ms ease,
  "500": 500ms ease,
);

$transition-250: var(--transition-250);
$transition-500: var(--transition-500);

//# Clip Path
//==============
$clip-paths: (
  "100": polygon(0 40%, 100% 0%, 100% 100%, 0 100%),
  "200": polygon(0 0%, 100% 0%, 100% 100%, 0 100%),
);

$clip-path-100: var(--clip-path-100);
$clip-path-200: var(--clip-path-200);

//# Body
//==============
$body-font-family: $ff-base;
$body-font-size: $fs-400;
$body-line-height: 1.5;
$body-font-weight: $fw-normal;
$body-text-color: $clr-text-default;
$body-background-color: $clr-bg-default;

//# Links
//=============
$link-color: $clr-text-interactive-default;
$link-color-hover: $clr-text-interactive-hover;

//# Headings
//=============
$heading-font-family: $ff-accent;
$heading-color-default: inherit;
$heading-font-weight: $fw-bold;
$heading-letter-spacing: $letter-spacing-loose;
$heading-line-height: 1.2;
$heading-text-transform: uppercase;

$heading-1-font-size: $fs-900;
$heading-1-color: $heading-color-default;
$heading-2-font-size: $fs-800;
$heading-2-color: $heading-color-default;
$heading-3-font-size: $fs-700;
$heading-3-color: $heading-color-default;

//# Layout
//============
$grid-gap: $rem-6;
$flex-group-gap: $rem-4;

//# Wrapper
//=============
$wrapper-padding-inline: $rem-4;
$wrapper-max-width: 100%;
$wrapper-max-width-narrow: 40rem;
$wrapper-max-width-wide: 75rem;

$wrapper-max-width-sm: 33.75rem;
$wrapper-max-width-md: 45rem;
$wrapper-max-width-lg: 60rem;
$wrapper-max-width-xl: 71.25rem;
$wrapper-max-width-xxl: 82.5rem;

//# Flow
//==============
$flow-spacer: $rem-4;

//# GRID SYSTEM
//==============
$col-count: 12;
$row-gap: $rem-4;
$col-gap: $rem-4;

$row-cols: (
  "1": 1,
  "2": 2,
  "3": 3,
  "4": 4,
  "6": 6,
  "12": 12,
);

$start-cols: (
  "1": 1,
  "2": 2,
  "3": 3,
  "4": 4,
  "5": 5,
  "6": 6,
  "7": 7,
  "8": 8,
  "9": 9,
  "10": 10,
  "11": 11,
);

$end-cols: (
  "2": 2,
  "3": 3,
  "4": 4,
  "5": 5,
  "6": 6,
  "7": 7,
  "8": 8,
  "9": 9,
  "10": 10,
  "11": 11,
  "12": 12,
  "all": -1,
);

$col-widths: (
  "1": 1,
  "2": 2,
  "3": 3,
  "4": 4,
  "5": 5,
  "6": 6,
  "7": 7,
  "8": 8,
  "9": 9,
  "10": 10,
  "11": 11,
  "12": 12,
  "fill": 12,
);

$content-max-width: $wrapper-max-width;
$content-max-width-sm: $wrapper-max-width-sm;
$content-max-width-md: $wrapper-max-width-md;
$content-max-width-lg: $wrapper-max-width-lg;
$content-max-width-xl: $wrapper-max-width-xl;
$content-max-width-xxl: $wrapper-max-width-xxl;

//# Primary Header
//====================
$primary-header-position: fixed;
$primary-header-background: transparent;
$primary-header-color: $clr-neutral-100;
$primary-header-padding: $em-4 0;
$primary-header-margin: 0;
$primary-header-jusitifcation-sm: center;
$primary-header-jusitifcation-lg: space-between;
$primary-header-alignment: center;

//# Primary Navigation
//=======================
$navigation-color: $clr-primary-100;
$navigation-color-hover: $clr-primary-400;
$navigation-font-size: $fs-400;
$navigation-font-weight: $fw-medium;
$navigation-text-transform: null;
$navigation-gap: $rem-6;
$navigation-link-text-decoration: none;

//# Primary Footer
//===================
$footer-background-color: null;
$footer-text-color: $clr-neutral-400;
$footer-link-color: $clr-neutral-500;
$footer-link-color-hover: $clr-primary-400;
$footer-link-text-decoration: none;

//# Buttons
//=================
$button-padding: 0.875em 2em;
$button-border: 0;
$button-border-radius: 0;
$button-background: transparent;
$button-color: inherit;
$button-font-family: $body-font-family;
$button-font-size: $fs-400;
$button-font-weight: $fw-medium;
$button-text-transform: null;

$button-primary-color: $clr-neutral-100;
$button-primary-background: $clr-primary-400;
$button-primary-background-hover: $clr-neutral-900;

$button-accent-color: $clr-neutral-000;
$button-accent-background: $clr-primary-600;
$button-accent-background-hover: $clr-primary-400;

//# Sections
//==================
$section-padding-block: 60px;
